#Introduction to Python

In [18]:
j= "enjoying"
print ("Python programming is " + j)

Python programming is enjoying

In [21]:
x = 5
y = 3
x + y

8

In [26]:
x = 5
y = 3
sum = x + y
sum

8

In [28]:
a, b, c =0, -1, 6
c%=2  #This will display the remainder of 6 divided by 2
c

0

In [29]:
a, b, c =0, -1, 5 
c%=2  #This is also the same as c%=2
c

1

In [30]:
x = 3  
y = 5
compare = x>y
print (compare)

False

In [33]:
x = 3  
y = 5

x>2 and y>4

True

In [34]:
x = 3  
y = 5

x is y

False

In [35]:
x = 3  
y = 5

x is not y

True